#skillsContainer {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--lightRed);
}

.internalSkillsContainer {
  height: 100%;
  width: 85vw;
  margin-inline: auto;
  padding-block: 6rem;
}

.internalSkillsContainer h2 {
  font-size: 36px;
  font-weight: 600;
  display: flex;
  color: var(--darkWriting);
}

.skillsContainer {
  margin-bottom: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.skillsContainerTwo {
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.internalSkillsContainer img {
  width: 100px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.internalSkillsContainer img:hover {
  transform: scale(1.1);
}

.skillsContentText {
  text-align: justify;
  font-size: 20px;
  font-weight: bold;
  color: var(--darkWriting);
  margin-top: 80px;
}

.skillsContentText span {
  font-weight: bold;
  /* text-decoration: underline wavy;
  text-decoration-color: var(--darkerRed); */
}

@media screen and (max-width: 575px) {
  .skillsContainer {
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .skillsContainerTwo {
    width: 80%;
    /* padding-block: 2rem; */
  }

  .internalSkillsContainer {
    width: 90vw;
    padding-block: 2rem;
  }

  .internalSkillsContainer h2 {
    font-size: 28px;
    text-align: center;
    display: block;
  }

  .internalSkillsContainer img {
    width: 60px;
    margin-top: 30px;
  }

  .skillsContentText {
    margin-top: 40px;
    font-size: 17px;
  }
}

@media screen and (min-width: 576px) and (max-width: 730px) {
  .internalSkillsContainer {
    width: 90vw;
  }

  .internalSkillsContainer h2 {
    font-size: 28px;
    text-align: center;
    display: block;
  }

  .internalSkillsContainer img {
    width: 60px;
  }

  .skillsContentText {
    margin-top: 40px;
    font-size: 17px;
  }
}

@media screen and (min-width: 731px) and (max-width: 992px) {
  .skillsContentText {
    margin-top: 60px;
    font-size: 18px;
  }

  .internalSkillsContainer img {
    width: 90px;
  }

  .internalSkillsContainer h2 {
    font-size: 34px;
  }
}
