#aboutSection {
  background-color: var(--lightColor);
  height: 100vh;
  width: 100vw;
  display: flex;
  color: var(--darkWriting);
}

#aboutSectionLeft {
  height: 100%;
  width: 35%;
}

#aboutSectionRight {
  background-color: var(--logoColor);
  height: 100%;
  width: 65%;
}

#introContainer {
  width: 42.5vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;
  margin-right: 7.5vw;
}

.introduction {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.introduction h2 {
  margin-block: 0;
}

.introduction span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--color-dark);
}

.aboutContent {
  font-size: 56px;
  text-align: left;
  font-weight: bold;
  margin-top: 30px;
}

/* 0px --- 575px */
@media screen and (max-width: 575px) {
  #aboutSection {
  }
}

@media screen and (min-width: 576px) and (max-width: 730px) {
  #aboutSection {
  }
}

@media screen and (min-width: 731px) and (max-width: 992px) {
  #aboutSection {
  }

  .skillsContentText {
    margin-top: 10px;
  }

  .introduction h1 {
    text-align: left;
    font-size: 30px;
  }

  .aboutContent {
    font-size: 52px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1180px) {
  #aboutSection {
    /* responsive */
  }
}

@media screen and (min-width: 1181px) {
  #aboutSection {
    /* responsive */
  }
}
