* {
  box-sizing: border-box;
}

#navbar {
  height: 10vh;
  width: 85vw;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  color: var(--darkWriting);
}

#myLogo {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Princess Sofia", cursive;
  font-size: 50px;
  color: var(--logoColor);
  font-weight: 600;
}

#navbarMenu {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}

#navbarMenu span {
  margin-left: 25px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--darkWriting);
}

a:hover {
  color: var(--normalGreen);
  transition: color 0.5s ease-in-out;
}

@media screen and (max-width: 575px) {
  #navbar {
    flex-direction: column;
    width: 100vw;
  }

  #navbarMenu {
    width: 100vw;
    order: 1;
    display: flex;
    justify-content: space-evenly;
  }

  #myLogo {
    order: 2;
    width: 100vw;
    font-size: 32px;
    display: flex;
    justify-content: center;
    color: var(--lightColor);
  }

  #navbarMenu span {
    font-size: 15px;
    margin-left: 0;
    /* margin-right: 25px; */
    z-index: 2;
  }

  #lampContainer {
    left: 275px;
    z-index: 0;
  }

  .introduction {
    width: 100vw !important;
    z-index: 1;
  }

  .introduction h1 {
    font-size: 30px;
    width: 100%;
  }

  .introduction h2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .aboutContent {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
  }

  #flowerContainer {
    top: 370px;
    width: 345px;
  }

  .firstShelf {
    width: 50%;
  }

  .secondShelf  {
    width: 305px;
    right: 35px;
  }
}

@media screen and (min-width: 576px) and (max-width: 730px) {
  /* #aboutSection {
  } */

  #navbar {
    flex-direction: column;
    width: 100vw;
  }

  #navbarMenu {
    width: 100vw;
    display: flex;
    justify-content: center;
    order: 1;
    margin-top: 5px;
  }

  #myLogo {
    order: 2;
    width: 100vw;
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: var(--lightColor);
  }

  #navbarMenu span {
    font-size: 18px;
    margin-left: 0;
    margin-right: 25px;
    z-index: 2;
  }

  #lampContainer {
    left: 165px;
    z-index: 0;
  }

  .introduction {
    width: 100vw !important;
    z-index: 1;
  }

  .introduction h1 {
    font-size: 34px;
  }

  .introduction h2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .aboutContent {
    font-size: 34px;
    margin-top: 10px;
    text-align: center;
  }

  #flowerContainer {
    top: 320px;
  }

  .secondShelf {
    width: 75%;
    right: 95px;
  }
}

@media screen and (min-width: 731px) and (max-width: 992px) {
  #myLogo {
    font-size: 44px;
  }

  #navbarMenu {
    width: 55%;
  }
}

@media screen and (min-width: 731px) and (max-width: 992px) {
  #flowerContainer {
    top: 8%;
    left: 1.5vw;
  }

  #lampContainer {
    left: 190px;
  }

  #navbarMenu {
    width: 60%;
  }

  #myLogo {
    font-size: 46px;
  }

  #navbarMenu span {
    font-size: 16px;
  }
}
